.banner {

    background-image: url(../../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
}

.banner-overlay {

    background: rgba(0, 0, 0, 0.342)
}